.players{
    display: inline-block;
    width: 25rem;
    height: 28rem;
    border: 1px solid gray;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
     background-color: #1d2124;
     box-shadow: -1px 3px 11px 3px;
     margin-left: 5px;
     margin-right: 20px;
     
} 

.players img{
   
    object-fit: contain;
    background-repeat: no-repeat;
    margin-left: 3px;
    margin-right: 3px;
    padding: 10px;
padding-bottom: 10px;
border-radius: 18%;
height: 280px;
width: 260px;
padding: 20px;
}

/* .container{
    max-width: 1310px;
    margin-right: 5px;
} */

.player-body{
font-size: 17px;
color: white;

padding: 0px;
}
.name-text{
    font-size: 24px;
    color: rgba(164, 170, 109, 0.96);
   
    padding: 0px;
}

.position-text{
    font-size: 19px;
    color: rgb(135, 209, 187);
    
    padding: 0px;
}
.salary-text{
    font-size: 18px;
    color: rgb(146, 232, 168);
    
    padding: 0px;
}
.age-text{
    font-size: 16px;
    color: rgb(167, 186, 48);
    
    padding: 4px;
}

.players .btn{
    cursor: pointer;
    color: #16bd40;
    /* border: 1px solid #dee0e2; */
    font-size: 14px;
    background-color: rgb(4, 36, 24);
}


.btn:hover {
    color: #d1d5da !important;
    text-decoration: none;
}